@charset "UTF-8";
/*CSS Doc*/

.hidden {
  display: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.column {
  flex: 1 1 auto;
  padding: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  height: 300px;
}

#column1 {
  background-color: pink;
}

#column2 {
  background-color: red;
}

#column3, #column4 {
  display: none;
}

@media screen and (min-width:601px) {
  #columns {
    display: flex;
  }

  #column1 {
    background-color: blue;
  }

  #column2 {
    background-color: purple;
  }

  #column3 {
    background-color: gray;
    display: block;
  }

  #column4 {
    background-color: brown;
    display: block;
  }
}



